[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/ds-compare"]
	path = lib/ds-compare
	url = https://github.com/lukehamilton/ds-compare
[submodule "lib/geb-tx-manager"]
	path = lib/geb-tx-manager
	url = https://github.com/lukehamilton/geb-tx-manager
[submodule "lib/geb-deploy"]
	path = lib/geb-deploy
	url = https://github.com/lukehamilton/geb-deploy
[submodule "lib/geb-uniswap-median"]
	path = lib/geb-uniswap-median
	url = https://github.com/lukehamilton/geb-uniswap-median
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/lukehamilton/ds-value
[submodule "lib/geb-fsm"]
	path = lib/geb-fsm
	url = https://github.com/lukehamilton/geb-fsm
