[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/ds-compare"]
	path = lib/ds-compare
	url = https://github.com/lukehamilton/ds-compare
[submodule "lib/geb-tx-manager"]
	path = lib/geb-tx-manager
	url = https://github.com/lukehamilton/geb-tx-manager
[submodule "lib/geb-deploy"]
	path = lib/geb-deploy
	url = https://github.com/lukehamilton/geb-deploy
